
.reveal {
	font-family: "Source Han Sans";
	font-size: 32px; }

.normal-slide {
	text-align: left; 
	top: 15px !important; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform: none;
	font-family: "Source Han Sans"; }

.reveal h1 {
	font-size: 2.5em; }

.reveal h2 {
	font-size: 2.0em; }

.reveal h3 {
	font-size: 1.5em; }

.reveal h4 {
	font-size: 1em; }

.reveal h5 {
	font-size: 0.7em; }

.reveal h6 {
	font-size: 0.5em; }